
* {
    box-sizing: border-box;
}

:root {
    --bs-blue: #26a69a;
    --bs-primary: #26a69a;
    --primary-white-color: #FFFFFF;
    --secondary-color:#e4686e;
    --secondary-bg-color:#ffebee;
    --bs-tertiary-color: #6c757d;
    --bs-primary-border-subtle: #e0f2f1;
    --bs-border-color: #e0f2f1;
    --bs-btn-hover-bg: #0e9a9c;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: var(--secondary-bg-color);
}

.show {
    display: block;
}

.disappear {
    display: none;
}

/***** HEADER *****/
.navbar {
    position:fixed;
    top: 0;
    width: 100%;
    height: 85px;
    margin: 0;
    padding: 0;
    color: var(--primary-white-color);
}
.container-fluid {
    width: 100%;
    height: 100%;
    padding: 15px 25px 0;
    background-color: var(--secondary-color);
}
.d-f-s-b-f-s {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.navbar-brand {
    padding: 0;
    color: var(--primary-white-color);

}
.logo {
    margin-right: 25px;
}
.logo-text {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 30px;
    letter-spacing: 4px;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
.logo-text span {
    font-size: 24px;
    letter-spacing: 6px;
}

.navbar-brand:hover,
.logo-text span {
    color: var(--bs-primary);
    transition: all 0.4s ease-out;
}
.navbar-brand:active,
.navbar-brand:focus {
    color: var(--primary-white-color);
}
.navbar-brand:hover >.logo-text span {
    color: var(--primary-white-color);
    transition: all 0.4s ease-out;
}
.navbar-brand:hover >.logo {
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-out;
}

.wrapper-btn {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 0 10px;
    font-size: 19px;
    color: var(--primary-white-color);
    background-color: var(--bs-primary);
    border-radius: 5px;
}
.btn:hover,
.btn:focus,
.btn:active {
    color: var(--primary-white-color);
    background-color: var(--bs-btn-hover-bg);
}

.btn-create-visit.visible {
    display: block;
}


/***** Main *****/
.main {
    min-height: 65vh;
}


/***** Loader *****/

.spinner-border {
    display: none;
    position: absolute;
    margin-top: 90px;
    left: 50%;
    background-color: var(--secondary-bg-color);
    border-color: var(--bs-primary);
    border-right-color: transparent;
}

/***** Modal AND Forms *****/

.wrapper-filtering-form {
    width: 80%;
    margin: 150px auto 50px;
    align-items: flex-end; 
    font-size: 19px;
    display: grid;
    grid-template-columns: auto 230px 230px 90px;
    gap: 25px;
}

.wrapper-filtering-form.disappear {
    display: none;
}

.modal-title {
    color: var(--bs-primary-border-subtle);
}


.btn-close[data-bs-dismiss="modal"] {
    width: 14px;
    height: 14px;
    background-color: var(--bs-primary-border-subtle);
}

.modal-header,
.modal-footer {
    background-color: var(--secondary-color);
} 

.modal-body {
    background-color: var(--secondary-bg-color);
}

.label-filters {
    margin-left: 15px;
    color: var(--bs-primary)
}

.wrapper__invalid-message {
    height: 25px;
    font-size: 14px;
}

option[selected]:hover {
    background-color: var(--bs-primary);
}

.form-select:focus, 
.form-control:focus {
    box-shadow: 0 0 0 0.25rem #a3cfbb;
}

#searchDataList,
#searchDataList[placeholder],
.form-control,
.form-select,
.col-form-label {
    font-size: 16px;
    color: var(--bs-tertiary-color);
}

.form-label,
.col-form-label {
    color: var(--bs-primary)
}

.btn-search,
#btn-create-visit {
    margin: 0 0 22px 0;
}



/***** Cards Container *****/
.root {
    width: 100%;
}

.no-cards,
.no-authorization {
    margin-top: 250px;
    text-align: center;
    color: var(--bs-primary);
    font-size: x-large;
}

.card-list {
    width: 100%;
    margin-top: 50px;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 25px;
} 

.card {
    min-width: 200px;
    min-height: 300px;
    padding: 10px;
    text-align: center;
    background-color: var(--bs-border-color);
    color: var(--bs-primary);
    border: 1px solid var(--bs-tertiary-color);
}



